@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}
<div id="sredina">
    <h1 class="text-danger">Greska!</h1>
    <br />
    <h2 class="text-danger">Nazalost pukla je aplikacija jer je tim koji je pravio govedina</h2>

</div>

