
@{
    ViewBag.Title = "PrikazVesti";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="sredina" name="sredina" class="sredina-upload-mat">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
   

    <div id="container" class="row"></div>
    <div id="progress" style="display:none">
        <h4>Loading...</h4>
    </div>
    <script>
        var pageSize = 15;
        var pageIndex = 0;

        $(document).ready(function () {

            GetData();
            $(window).scroll(function () {
                if ($(window).scrollTop() ==
                    $(document).height() - $(window).height() && !_incallback) {
                    GetData();
                }
            });
        });
        function GetData() {
            _incallback = true;
            console.log("pozvana funkcija");
            $.ajax({
                type: 'GET',
                url: '/Vesti/PosaljiVesti',
                data: { "pageindex": pageIndex, "pagesize": pageSize },
                dataType: 'json',
                success: function (data) {
                    if (data != null) {
                        for (var i = 0; i < data.length; i++) {
                            $("#container").append("<div class=\"col-md-4\"><div class=\"card\">" +
      "<div class=\"slikaNaslov\"><img class=\"card-img-top\" src=\"" + data[i].Thumbnail + "\" alt=\"Card image cap\"> <div class=\"naslov\"><p class=\"card-text\">" + data[i].Naslov + "</p></div></div>" +
      "<div class=\"card-body\"><div class=\"preveiw\"></div> <hr/> <div class=\"izmene\">"+
                "<input type=\"submit\" class=\"btnsVestiPrikaz\" value=\"SAZNAJ VIŠE\" onclick=\"return confirm('Molimo vas potvrdite izmenu korisnika')\" />"+
                "<input type=\"submit\" class=\"btnsVestiPrikaz\" value=\"OBRIŠI\" onclick=\"return confirm('Da li želite da obrišete vest?')\"/>"+
            "</div>" +
      "</div>" +
    "</div></div>");
                        }
                        pageIndex++;
                    }
                },
                beforeSend: function () {
                    $("#progress").show();
                },
                complete: function () {
                    $("#progress").hide();
                    _incallback = false;
                },
                error: function () {
                    alert("Error while retrieving data!");
                    _incallback = false;
                }
            });

        }
    </script>
</div>