@model IEnumerable<Projekat.Models.VestModel>
@{
    ViewBag.Title = "PrikazVesti";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<h2>Pregled vesti</h2>
<div class="card-columns">
    
</div>