@model Projekat.Models.SmerModel


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="sredina">

    <a id="novi-materijal" href="#">
        <svg width="60" height="60" xmlns="http://www.w3.org/2000/svg">
            <g>
                <title>background</title>
                <rect fill="none" id="canvas_background" height="62" width="62" y="-1" x="-1" />
                <g display="none" overflow="visible" y="0" x="0" height="100%" width="100%" id="canvasGrid">
                    <rect fill="url(#gridpattern)" stroke-width="0" y="0" x="0" height="100%" width="100%" />
                </g>
            </g>
            <g>
                <title>Layer 1</title>
                <rect id="svg_4" height="26" width="3" y="17" x="28.5" fill-opacity="null" stroke-opacity="null" stroke-width="0" stroke="#000" fill="#fff" />
                <rect transform="rotate(90, 29.898, 30)" id="svg_9" height="26" width="3" y="17" x="28.397959" fill-opacity="null" stroke-opacity="null" stroke-width="0" stroke="#000" fill="#fff" />
            </g>
        </svg>
    </a>


    @foreach (var smer in Model.smerovi)
    {

        <div class="kartica-smer clear-fix">
            <a class="naziv-smera-na-kartici" href="#">@smer.smerNaziv</a>
            <div class="kontrole clear-fix">
                <a href="#">Edit</a>
                <a class="predmet-kontrole" href="#">OPIS</a>
                @Html.ActionLink("PREDMETI","PredmetiPrikaz","Predmet",new { id = smer.smerId},new { @class = "predmet-kontrole" })
             @*   <a class="predmet-kontrole" tabindex="1" href="#">PREDMETI</a>*@
            </div>
        </div>

    }

</div>