@model Projekat.ViewModels.DodajPremetViewModel
@{
    ViewBag.Title = "DodajPredmet";
}
<div id="sredina">
    @using (Html.BeginForm("DodajPredmet", "Predmet", FormMethod.Post, new { @class = "predmetForma", @id = "predmetForma" }))
    {
        <h2>Novi predmet</h2>
        <div id="dropDownovi">
            @Html.DropDownListFor(m => m.smerIds, new SelectList(Model.smerovi, "smerId", "smerNaziv"), new { @class = "select2smerovi", @multiple = "multiple", @id = "smerovi" })
        </div>
            <label class="matDesignLabel" for="predmet_predmetNaziv">Naziv predmeta</label>
            @Html.TextBoxFor(m => m.predmet.predmetNaziv, new { @name = "predmetNaziv" })
            <label for="predmet_predmetOpis" class="matDesignLabel">Opis</label>
            @Html.TextAreaFor(m => m.predmet.predmetOpis, new { @name = "predmetOpis" }) //Ne diraj NAME NIKAKO!

        <button type="submit" id="postavi" name="submitPredmet">POSTAVI</button>
    }

    <div id="snackbar"><span>Predmet uspešno dodat!</span></div>
</div>

@Scripts.Render("~/bundles/novi_predmet")