@model Projekat.ViewModels.DodajPremetViewModel
@{
    ViewBag.Title = "DodajPredmet";
}


<div id="sredina">
    <h2>DodajPredmet</h2>


    @using (Html.BeginForm("DodajPredmet", "Predmet", FormMethod.Post))
    {

        @Html.DropDownListFor(m => m.smer.smerId, new SelectList(Model.smerovi, "smerId", "smerNaziv"))
        @Html.TextBoxFor(m => m.predmet.predmetNaziv)
        @Html.TextBoxFor(m => m.predmet.predmetOpis)


        <input type="submit" name="submitPredmet" value="Dodaj predmet" />


    }
</div>

