.btnDetalji {
    
    background-color: white;
    color: red;
    font-family: 'roboto-regular';
    border-radius:4px;
    
    height:100%;
    width:100%;
    background-image:none;
    
    
}

    .btnDetalji:hover {
        transition: 0.3s;
        background-color: indianred;
        color:white;
        background-color:#ef474d;
        
    }

    